[2018-08-23 07:55] s8sg opened #2 "Use HMAC to verify that partial request was made form faaschain"
Faaschain now forwards partial request to faaschain. But it could easily be spoofed if someone else send a partial pipeline request to faaschain. One way to handle it is to use `HMAC`. We can sign the request of `partial faaschain` with the secret `key` and forward with the `digest`. Once the data is received back  we can verify if the request has been generated by `faaschain` with the secret `key

[2018-08-27 03:21] s8sg opened #3 "Manage state of chain with `StateManager` interface"
Faaschain is stateless in nature. Currently the only state in chain is `executionposition` and `requestId`. For partial request the state value are forwarded as a data.

Although It might be a use-case when user need more data to be stored in the state. To achieve that we can provide user an interface `StateManager ` as:
[code]

User should be able to request the global state manager from request

[2018-08-27 03:53] s8sg opened #4 "Make Default `Apply` as Async and Add Sync as a Option"
Currently we provide `Apply()` and `ApplyAsync()` call. We can change that to `Apply()` with optional `Sync` as `Option` to `Apply()`
[code]
and
[code]

Which will make all call by default `Async`

[2018-08-27 04:36] s8sg commented on #3
`GetPhaseInput()` should also be deprecated. It can be done as:
[code]

[2018-08-27 05:14] #4 closed

[2018-08-30 01:00] #3 closed

[2018-09-01 09:56] #2 closed

[2018-11-11 14:10] s8sg opened #12 "Delay call to statemanager when forwarding request for next phase"
Currently `DataStore` implementation will be called whenever a `Set()`, `Get()` or `Del()` has been called on the `context`. Although state can be saved and managed locally until the request is being forwarded for next phase. This will reduce multiple call to `DataStore` when theres only one phase

[2018-11-11 14:19] s8sg opened #13 "If StateManager is provided, allow to store intermediate result in StateManager"
Currently intermediate data always gets forwarded to `flow` function as an input. But for `async forward` due to **nats limit** a large data might not get forwarded. Alternatively the data can be saved and retrieved in the next phase from the `StateManager`. When a `StateManager` specified, a optional flag will be provided to store the intermediate data via the `StateManager`
[code]

[2018-11-11 14:26] s8sg opened #14 "Implement StateStore on 3rd party KV Store - consul, etcd"
Execution state currently being forwarded as a data for the next phase. This will work well until the pipeline is less complicated than a chain of function. For a more complicated example such as `dag`, we need to have a secondary KV store to manage the execution state. A `ExecutionState` manager can be `ZooKeeper` or `Consul`

[2018-11-12 13:07] #13 closed

[2018-11-20 13:56] alexellis opened #17 "Deployment option for Kubernetes"
Hi @s8sg it'd be good to have a deployment option for Kubernetes..

I saw you used our script from openfaas-cloud to setup Minio, you can use the same script we use for Helm to setup the configuration for Kubernetes too.

I'd also highly recommend pinning to a specific version of Minio from the tags on the Docker Hub to prevent breaking changes in Minio causing an unexpected error.

Alex

[2018-11-20 13:57] alexellis commented on #14
ZooKeeper is heavy-weight - have you considered using something like NATS, BoltDB, Minio or etcd (etcd is often packaged with K8s btw)

[2018-11-21 09:01] s8sg commented on #14
`etcd` can be a good option. I'm not familiar of using other as a `KV` store. I'll give them all a try. I just made one with consul [faas-flow-consul-statestore](https://github.com/s8sg/faas-flow-consul-statestore)

[2018-11-22 01:17] s8sg opened #19 "Convert chain execution with DAG - Every chain is also a DAG"
Each sequential chain itself a DAG. We don't need to have different Structure and handling for chain as we can use the same as of DAG, where each node forwards and receives data from only one Node

The `API` should stay same as it is now.

[2018-11-22 01:18] s8sg opened #20 "provide example of Executing DAG faasflow"

[2018-11-22 01:33] s8sg opened #21 "Implement Serialiser - to serialise inputs to a vertex when there is more than one InDegree"
Serialiser is a fassflow `Operation`s `Option` that can be added **to serialise inputs to a vertex when there is more than one InDegree**. Serialiser assigned to a Vertex will be called before the actual call to the operations in the vertex:
[code]
Any type of `Operation`s in a DAG/CHAIN can be assigned with a `Serializer`.
For **Chain** or **Dag vertex with only one in-degree** will result a call

[2018-11-22 01:37] s8sg opened #22 "Provide a way to download dotted graph form a deployed Faas-Flow"
Dotted graph can provide better visualisation of the overall workflow
Faas-Flow currently provide library to create a dotted graph for either a `chain/dag`.

The same can be used to provide a way to only download a dotted graph from the faasflow function itself

One option could be adding query param to the request
[code]

[2018-11-22 12:01] #19 closed

[2018-11-23 08:48] #21 closed

[2018-11-24 14:37] #22 closed

[2018-11-25 10:12] s8sg commented on #20
[upload-pipeline-dag](https://github.com/s8sg/faas-flow-examples) is an example of how DAG can be executed

[2018-11-25 10:12] #20 closed

[2018-11-25 10:18] s8sg opened #26 "Create web UI visualize flows"
Create a separate flow UI as a Function to debug flow that are deployed.
Debug information could be:
1> Execution Count
2> Dotted Graph
3> Node information (Modifier/Function/Callback)

[2018-11-26 00:25] s8sg opened #27 "Allow DAG edge Option to Alter Node result"
Currently when executing a DAG the result of node gets forwarded to other nodes.
Although it might be a scenario when having more than one children node each of them might need result in different format or no result at all. `AddEdge(from, to string)` can be altered to have a functionality that would help to provide `Options` i.e.
[code]
One of the `Option` can be
[code]
to alter data when forward

[2018-11-26 07:37] s8sg opened #28 "Provide More Information in Dotted Graph"
Dotted Graph is a quick way to debug a pipeline
Below are the update

[2018-11-26 11:53] s8sg opened #29 "Allow Dynamic Edge based on For Each Value"
For Each is a way what allow an edge to have `1:N` relation ship where `N` is determined `dynamically` or `at runtime`.

It can be added with Option as:
[code]

[2018-11-30 05:48] s8sg commented on #26
Implemented as a set of openfaas function in project [faas-flow-dashboard](https://github.com/s8sg/faas-flow-dashboard)

[2018-11-30 05:48] #26 closed

[2018-11-30 06:38] s8sg commented on #14
`etcd` StateStore is implemented as: [faas-flow-etcd-statestore](https://github.com/s8sg/faas-flow-etcd-statestore)

[2018-11-30 06:38] #14 closed

[2018-11-30 08:20] s8sg commented on #28
An example dot could be:

[code]

<img width="707" alt="screenshot 2018-11-30 at 5 19 34 pm" src="https://user-images.githubusercontent.com/7374058/49277198-249f7f00-f4c4-11e8-91cc-313e155aec5e.png">

[2018-11-30 13:10] #28 closed

[2018-12-03 00:58] s8sg opened #31 "Allow to consider Sub-Dag based on Select Condition (Choices)"
A branching logic that allows to consider a SUB-Dag when a certain condition has met

One of the way possible could be the `edge Options`:
[code]
`choiceFunc` takes a `[]byte` (the result of the node) and returns a choice string, which determines the branch that will be executed. A selection among multiple branch could be done by providing same choice function to multiple edge
[code]

[2018-12-03 01:24] s8sg opened #32 "Create a white-paper based on the core fundaments of faas-flow"
`Faas-flow` is based on some core design fundaments that allows the `faas-flow` to work as a openfaas function **without violating the core principle of server-less model**

 The few key points of the design are
1. Recursive interface pattern
2. Workflow as a function
3. No external executor
4. External Storage for maintaining Intermediate Data and State

As faas-flow is growing its feature, its i

[2018-12-03 04:34] s8sg opened #33 "When using same vertex id in DAG, operation should be appended in Order"
Currently if using existing `DAG`s `vertex id`, the vertex get replaced by the new operation, although it should be appended in a operation set `serially` based on the order they were added

[2018-12-03 08:44] s8sg commented on #29
`ForEach` is a  **branch-out** condition. But it would also require a way to **branch-in** in certain scenarios.

One way is to **branch out** only a single vertex to execute in parallel and **branch in** in the next next vertex;

It might also be a valid scenario when a **sub DAG** needs to be **branched out** rather than a single vertex. In that case the **API** need changes

This idea needs sig

[2018-12-04 08:02] s8sg opened #34 "Allow the ability to add an entire DAG as a vertex"

[2018-12-11 04:25] #27 closed, assigned to s8sg

[2019-02-20 02:22] s8sg opened #37 "Make AWS states Language interpreter"
The main idea here is to make use of AWS State Language to define pipelines

[2019-03-13 03:58] s8sg opened #38 "Do event sourcing to manage execution state"

[2019-06-01 16:45] #38 closed

[2019-06-01 16:45] #32 closed

[2019-06-17 08:56] chennqqi opened #41 "Add example for For Each branching"

[2019-06-17 09:50] s8sg commented on #41
Hi @chennqqi, Thank you for creating the issue. The example for the project are still shallow. I have created an example at: https://github.com/s8sg/flow-foreach-example. This works fine, there is also a conditional dag example available as: https://github.com/s8sg/travel-agent-saga

Although there is a bug in the new faas-flow-dashboard which makes the dot graph distorted for foreach condition.

[2019-06-17 11:11] s8sg opened #42 "DAG definition includes both sub-DAG and foreach DAG"
Exporter includes both subdag and foreach dag in case of foreach branch node. Although the behaviour is different, we store foreach DAG as a subdag to reduce space. When exporting graph definition the Subdag must not be considered if a node is foreach

[2019-06-17 11:29] s8sg commented on #42
Fixed in 19124d3e567bbddbb1578f931c73167a523f2c5d

[2019-06-17 11:29] #42 closed

[2019-06-17 14:04] s8sg commented on #41
The foreach example above should create the below flow:
<img width="1116" alt="Screenshot 2019-06-17 at 10 15 49 PM" src="https://user-images.githubusercontent.com/7374058/59610324-1bba8600-9154-11e9-9e22-228ca9dffdfb.png">

[2019-06-17 14:22] chennqqi commented on #41
Thank you for your enthusiasm and timely response！But i still confused about how to create 1:N flow

My Requirement like this:

//handler: functionA
function Handler(req []byte) {
	//some thing processing(req), then return data
	result := process(req)
	return result
}

//handler: functionB
function B(req []byte) {
	//some thing processing(req), then return data
	result := process2(req)
	return res

[2019-06-18 01:38] s8sg commented on #41
As per my understanding the desired patter is:
[code]

`flow.Apply().Apply()` this pattern is considered as a chain expression.
**Currently in faas-flow chain expression is only suitable for DAG that doesn’t have a branch.
 For branches you need to use DAG expression.** Which is basically create nodes and define edges between them.

The DAG defintion will be like below
[code]

First we need to def

[2019-06-18 02:30] chennqqi commented on #41
An Modifier is a function(method) implemented by `faas-flow lang`
An handler is a function(faas) implemented by `other faas flow`
So
I still can add an function(faas) into `Define` function

[code]
or call directly
[code]

[2019-06-18 02:37] s8sg commented on #41
I'm not sure what you meant by `other faas flow`, if `functionA` and `functionB` are openfaas function it  will be:
[code]
Everything else stays the same, so the Define() becomes:
[code]

[2019-06-18 06:06] chennqqi commented on #41
other `faas function` not `other faas flow`, my mistake
I think i could finish my flow now.
Thank you for your help again!

[2019-06-18 06:09] s8sg commented on #41
Great. I'm closing the issue for now.

[2019-06-18 06:09] #41 closed

[2019-06-19 07:55] chennqqi opened #43 "http read panic"
https://github.com/s8sg/faas-flow/blob/86030be291e1fde88420b27fba186fa0da18ec46/template/faas-flow/handler.go#L509

This line has a bug?
[code]
  if resErr was not nil, ioutil.ReadAll(res.Body) will cause a painic

[2019-06-19 08:00] s8sg commented on #43
Good catch. Can you please create a PR fixing it

[2019-06-19 08:01] s8sg commented on #43
I reopened, closed by mistake

[2019-06-19 08:23] chennqqi commented on #43
I created a pull request to fix this issue

[2019-06-19 12:47] s8sg commented on #43
Merged

[2019-06-19 12:47] #43 closed

[2019-06-20 02:17] s8sg opened #46 "Add option to modify Request before its executed for function and callback"
Currently `func OnReponse(handler sdk.RespHandler) Option` use `sdk.RespHandler` which is defined as:
[code]
It is useful to handle a HTTP response to a function manually and extract the response in proper format.
https://github.com/s8sg/faas-flow/blob/master/template/faas-flow/handler.go#L326
[code]

Similarly we need `sdk.RequestHandler` which will be able to update a Request for function execut

[2019-06-21 03:54] chennqqi opened #47 "Default edges should not be considered as an execution Only Edge"
@s8sg I need you help. about dag and AddForEachBranch

here is my code. this code is modify from syncflow

## code
[code]
DAG
![image](https://user-images.githubusercontent.com/5073720/59899906-0a5dcc00-9429-11e9-9b79-4b78ab90c700.png)

python func1
[code]
python func2
[code]

## run
echo "aa-bb-cc" | faas-cli invoke synflow

## expect
    recieve dump data from http://requestbin.fullcontact.com.

[2019-06-21 06:33] s8sg commented on #47
Can you please share the log

You should provide an external data store in order to execute any Dag that has more than one node, and you expect data to be forwarded.

The expected behavior should be a panic on the graph validation, please check the log

faasflow.Sync is only applicable for chain expression  which allows operation to be chained in a single node.  But for a dag it has no use.

If yo

[2019-06-21 07:44] chennqqi commented on #47
I change some code. add minio data store.
[code]
logs:
![image](https://user-images.githubusercontent.com/5073720/59906425-4f8af980-943b-11e9-8f7b-e88a725b4232.png)

func1 and func2 still not run. no sync or async call to func1 and func2

[2019-06-21 08:30] chennqqi commented on #47
Jiǎnhuà dàimǎ
4/5000
Simplified code， no branch, just dag
[code]

logs:
[code]

[2019-06-21 08:32] chennqqi commented on #47
maybe minio's configure problem

[2019-06-21 08:42] s8sg commented on #47
Can you see is there any other POD that serving the  request `Node 0_2_log-f1`
Maybe search by `label`
It doesn't seems like a Minio Problem

[2019-06-21 08:52] s8sg commented on #47
Also check the `nats-streaming-server` log.

[2019-06-21 08:54] chennqqi commented on #47
there's no node name or label like Node 0_2_log-f1.
i checked minio work well. now try to check nats

[2019-06-21 09:13] chennqqi commented on #47
@s8sg  finally i found why flow call can't pass to next function(flow node).
In stack.yaml( or function configure file)
flow `function name` must equal to `environment.workflow_name`

here is only other problem data not pass to next flow-node

more simplified code
[code]
pipeline data be set to  empty after func1 run

[2019-06-21 12:16] chennqqi commented on #47
problem was here
https://github.com/s8sg/faas-flow/blob/db2657720d69e99ab4b97b89ecf11d695c31a193/template/faas-flow/handler.go#L1061

[code]
before excute a modifier, should getDagIntermediateData
`fhandler.getPipeline().Dag.IsExecutionFlow()` returned `true`
skip `getDagIntermediateData`
so modifier request data is empty.

[2019-06-22 01:05] s8sg commented on #47
The problem is not the check itself, the check is there to determine if the dag forwards data or not. But it should have returned false in your definition. I’ll check the code and let you know.

[2019-06-22 10:26] chennqqi commented on #47
Thank you.

[2019-06-24 03:46] chennqqi opened #48 "what's different between forwarder and modifier?"
a modifier:   NODE[ function ...] -> (async to) -> NODE [ modifier ] -> NODE...
a forwarder:   NODE[function -> forwarder]  -> (async to ) -> NODE...

[2019-06-24 04:31] s8sg commented on #48
A modifier is an `Operation` just like a `function` or `callback`.
Its basically a `inline function` in flow definition
Now operation can be executed in a node, once or multiple times (by chaining).
So `Node A` can have multiple `Operations` and `Modifier` can be one or many of such `Operations`
[code]

`Forwader` is very different concept. Its allows to modify requests between different nodes.
Fo

[2019-06-24 04:53] chennqqi commented on #48
![image](https://user-images.githubusercontent.com/5073720/59992524-d5e34d80-967e-11e9-8e57-3999319b0d6b.png)
Is My understanding right?

[2019-06-24 05:01] s8sg commented on #48
Right.

We have a map of Forwarder for each nodes as
[code]
Currently for each Children by default we provide a `Forwarder` as:
[code]
To mark that data doesn't get forwarded for a edge, we simply set the Forwarder as `nil` for that childId.
To make it easy for User we added a simpler Option
[code]

[2019-06-24 06:38] #48 closed

[2019-06-24 07:36] s8sg commented on #47
Fix in #315a019bf9645c41fae9a68b95f56cccb1077885

[2019-06-24 10:37] gagipro opened #49 "Docker images won't pull"
Hi,

list-flow-functions
dot-generator
faas-flow-dashboard

images aren't available it seems?

[2019-06-24 12:50] s8sg commented on #49
@gagipro Thank you for the issue. The docker images for the `faas-flow-tower` is not published. You can build it locally.
I'll build and publish the local images now and setup a TravisCI later.

[2019-06-24 13:09] s8sg commented on #47
@chennqqi Can you please check the same with latest template

[2019-06-24 13:22] s8sg opened #50 "Add example of Dynamic Branch into Readme"
Readme doesn't contain any dynamic branch example. We can add simple example for `ForEach` and `Conditional` branching,

[2019-06-24 13:29] chennqqi commented on #47
I'm checking when you commit.

dag simple call test ok.
I'm checking branch call now

[2019-06-24 13:49] chennqqi commented on #47
test code:
[code]
input: aa-bb
expect: func2[func1(aa),func2(aa)]
* actual: func2[func1(),func1()] *
logs:

[code]
foreach didn't pass data to call-1

[2019-06-24 16:33] chennqqi commented on #47
When I track code I think
https://github.com/s8sg/faas-flow/blob/315a019bf9645c41fae9a68b95f56cccb1077885/template/faas-flow/handler.go#L835
`getDagIntermediateData` didn't not return right data to `func1`

[2019-06-25 01:27] chennqqi commented on #47
after this commit faas-flow-tower can't generate flow graph any more

[2019-06-25 01:30] s8sg commented on #47
You need to checkout the lastest code. The reason is the json has been
changed

On Tue, 25 Jun 2019 at 10:27 AM chennqqi <notifications@github.com> wrote:

[2019-06-25 01:52] chennqqi commented on #47
update faas-flow-tower latest code, graph show OK now.

[2019-06-25 03:52] chennqqi commented on #47
@s8sg dag flow's node pass data by `context.Set` and `context.GetBytes`, so a add some stub before all this two function.

conclusion:
1. dag without branch(dynamic) run ok, pass data ok.
2. dag with foreach branch(dynamic) didn't pass data to subdag

my test code upwards stub logs:

[code]
https://github.com/s8sg/faas-flow/blob/315a019bf9645c41fae9a68b95f56cccb1077885/template/faas-flow/handler.g

[2019-06-25 04:04] s8sg commented on #47
Yeah, dependencies only include previous nodes in the same DAG
For initial node the deps: []
But as Its a BranchDag of a dynamic Node we need to get the data from parent dag

It seems current version doesn't implements It, I just left a comment and forgot 🤦‍♂
[code]
Here parent Node is basically for any parent node of the SubDAG
and
multiple options of prev node is basically the BrachDag Parent No

[2019-06-25 09:01] s8sg commented on #47
@chennqqi Please check with the above PR

[2019-06-25 09:05] chennqqi commented on #47
can't wait now! haha

[2019-06-25 10:46] chennqqi commented on #47
@s8sg foreach test pass
![image](https://user-images.githubusercontent.com/5073720/60092424-93526b80-9779-11e9-9d15-8a6316c8f7ff.png)

[2019-06-25 13:13] #47 closed

[2019-06-25 13:13] s8sg commented on #47
Okay, thank you for confirming. I'll merge the same

[2019-06-27 03:18] s8sg opened #52 "Change StateStore Interface to more granular"
Current state store interface is not flexible, which makes it hard to fit new usecases
We will change the interface into more granular so that we can use the same to support more operation

The new state store definition would be

[code]

[2019-06-28 03:58] #52 closed

[2019-06-28 04:07] s8sg commented on #52
@chennqqi  You might like to update to new statestore and faasflow. This PR also fix some open issue

[2019-06-28 05:11] s8sg opened #54 "Separate Options into meaning full Groups"
Currently `Options` are used for
* Dag
* Chain
* Operation

It make confusion which option applies in which call

We will provide separate options for these

[2019-06-28 05:33] s8sg commented on #54
Fixed in [7925024](https://github.com/s8sg/faas-flow/commit/7925024a84d3f7dd8d23541f9fe0100ceba688db)

[2019-06-28 05:33] #54 closed

[2019-06-28 07:44] #46 closed

[2019-07-07 02:46] s8sg opened #56 "Set faas-flow unique request id on the header of the initial response"
Currently Request ID is being generated, although the only way to know the request ID is:
* Via looking at logs
* Via looking at request traces

We will set a response Header as
[code]

For Async request with callback url, we will set the header on callback request:
[code]

[2019-07-09 04:42] s8sg commented on #56
currently normal watchdog doesn't provide any ways to set response header
We may switch to  [of-watchdog](https://github.com/openfaas-incubator/of-watchdog) and use the [golang-http-template](https://github.com/openfaas-incubator/golang-http-template)

[2019-07-11 01:51] s8sg opened #58 "Add dynamic option information in the trace"
This issue is related with https://github.com/s8sg/faas-flow-tower/issues/9

We need to add the dynamic option into node traces to have unique traces for all foreach branches

[2019-07-11 02:06] s8sg commented on #50
Done

[2019-07-11 02:06] #50 closed

[2019-07-13 14:48] s8sg opened #59 "ditch async call, adapt only Dags"
Async Call and DAG with multiple edges provide similar functionalities
A async chain with four async call will have five nodes, the same can be achieved with creating the nodes separately

Currently operation-chain and dag are managed separately. Although dag allows to chain multiple operation by adding it to same node. We will adapt the chaining approach for DAG as well
[code]

[2019-07-16 02:00] #59 closed

[2019-07-19 02:23] s8sg opened #62 "Dynamic DAG coordination fails in some scenarios"
DAG node completion coordination fails in some scenario for `foreach` branch.

[2019-07-21 07:27] #56 closed

[2019-07-21 07:27] #62 closed

[2019-07-23 00:52] #12 closed

[2019-07-23 11:31] chennqqi opened #64 "Coordination fails on dynamic/parallel branching for intermediate results"
https://github.com/s8sg/faas-flow/blob/77c988e2c5e46b48438fa60ce7119340276ac37c/context.go#L169

dataStore.Get return empty data.  while when i checked minio, this data exist.
this bug not trigger everytime.  like https://github.com/s8sg/faas-flow/pull/61

[2019-07-23 12:14] tim-hellhake opened #65 "Java function doesn't receive request from faas-flow"
The `SYNC Chain` example calls two functions but returns only the result of the second function.
How can I pipe the result of the first function into the second function?

[2019-07-23 12:57] chennqqi commented on #64
[code]
I add two second time sleep. `context.GetBytes(key)` return corrected data.
maybe some sync cache problem.

[2019-07-23 12:59] chennqqi commented on #64
I create
https://github.com/chennqqi/faas-flow-redis-datastore for redis datastore
https://github.com/chennqqi/faas-flow-redis-stateestore for redis statestore
to debug easly

[2019-07-23 14:01] s8sg commented on #65
hi @tim-hellhake,
For `sync chain` the call pattern is
[code]
In this above case `func1` output gets piped to `func2`
Can you refer which example are you following ?

[2019-07-23 14:23] s8sg commented on #65
Another example sync chain with image filter [here](https://github.com/s8sg/image-filter-flow)
and also check if the gateway in env is right
[code]

[2019-07-23 14:31] s8sg commented on #64
@chennqqi thank you for this.

It seems that both branch can executes at the same time, and it's possible if the 2nd one gets executed even before the earlier branch successfully store the result in `DB`.
Its definitely sync issue. Nice Catch.

I'm open for a solution. Distributed lock might work, is there anything we can do without changing interface of `StateStore`?

[2019-07-23 18:16] tim-hellhake commented on #65
I have a simple java handler which prepends the current date:

[code]

I tried to apply the function twice:

[code]

If i call the flow with the body `foo` i get `Tue Jul 23 18:15:22 GMT 2019: ` as result.
I would expect something like `Tue Jul 23 18:15:22 GMT 2019: Tue Jul 23 18:15:22 GMT 2019: foo`.

[2019-07-23 18:17] tim-hellhake commented on #65
The java handler works as expected:
`foo` -> `Tue Jul 23 18:17:04 GMT 2019: foo`

[2019-07-23 23:41] s8sg opened #66 "Function call should be made via gateway"
Current faas-flow makes the call directly to the flow function for function operation,
[code]
but the call should be made via the gateway as
[code]

[2019-07-24 01:50] s8sg commented on #65
I setup a dummy implementation to check the issue
https://github.com/s8sg/java-test-flow

It seems the issue is only with `java8` function, where `python`, `node` works fine
I'll take a look in details soon. Great if you can help to debug

[2019-07-24 01:50] #66 closed

[2019-07-24 02:48] chennqqi commented on #64
New version support of-watchdog. Thus all requests of the `flow node` are asyn.
Old version use classic watchdog, every request of node execution in the `flow node` run one by one.

[2019-07-24 03:31] chennqqi commented on #64
https://github.com/s8sg/faas-flow/blob/77c988e2c5e46b48438fa60ce7119340276ac37c/template/faas-flow/handler.go#L825

[code]
I think should  `context.Set(key, result)` first then `IncrementCounter`. reason is:
all dynamic node of a dag/subdag run in differrent go routine in a same flow function instances.
`IncrementCounter` run first, other one go routine indegree match expect then run context.GetBy

[2019-07-24 03:44] s8sg commented on #64
@chennqqi Thats one option, I though of it too. But if you see carefully we do not store the result in datastore for the last branch execution, we just put the result in the aggregator hash-map `subDataMap `. This way we save some time, cause lastBranch routine will perform the aggregator.
[code]
As increment counter is the only way to know which one is the last branch, we can either save the time

[2019-07-24 03:52] chennqqi commented on #64
I understand. last dynamic branch run aggregator.
The question is how to solve sync problem, to avoid fetch results panic before aggregator.
Two ways:
1. two-step submit. add new counter for check if all `context.Set` done before `context.GetBytes`
2. store data to datastore before `IncrementCounter`

[2019-07-24 03:55] s8sg commented on #64
Option 2 looks cleaner to me. Will you be interested to implement the change ?

[2019-07-24 04:05] chennqqi opened #68 "remove enviroment variable `workflow_name`"
currently `workflow_name` must equal to function name, maybe we can get it from
[code]

[2019-07-24 04:07] chennqqi commented on #64
I think i can try. but i'm  not confidence in solving this problem.

[2019-07-24 04:42] s8sg commented on #64
@chennqqi you understand the problem well, good if you can give it a try. We can test whether it solved the problem or not after that

[2019-07-24 05:00] s8sg commented on #65
@tim-hellhake This was happening as we were keeping the connection open for each function call. This PR fixes it. Can you please check if possible

[2019-07-24 06:10] s8sg commented on #65
@chennqqi can you check this. Function with `java8` as template doesn't receive the data from faas-flow. Although this function works fine: https://github.com/s8sg/java-test-flow/blob/master/test-java/handler.go

We had some issue with connection being open, but that doesn't fix it either.

[2019-07-24 08:32] s8sg commented on #68
I like this one

[2019-07-24 10:10] chennqqi commented on #64
https://github.com/s8sg/faas-flow/pull/61#issuecomment-513624538
I found this problem maybe caused by consul. I use my code https://github.com/chennqqi/faas-flow-redis-statestore as statestore which made result perfect. while using consul as statestore, the result some times were correct, sometimes no data return.

I removed https://github.com/s8sg/faas-flow-consul-statestore/tree/master/vendor fo

[2019-07-24 10:33] s8sg commented on #64
pretty cool, can you please create an issue in consul state store for the same.
And also if `redis` is ready and working, I'll add it in the README

[2019-07-24 11:08] chennqqi commented on #64
ok

[2019-07-24 11:15] #64 closed

[2019-07-24 18:59] kwojcicki opened #71 "Typo in Image"
https://github.com/s8sg/faas-flow/raw/master/doc/overview.jpg

Async Chian should be Async Chain :)

[2019-07-25 06:11] s8sg commented on #71
thank you for pointing it, will fix that.

[2019-07-25 22:37] vtolstov commented on #37
i can take this if you provide info for first steps. As i understand i need to parse aws step defintions in json and create Workflow with needed Dags.

[2019-07-25 22:39] vtolstov opened #72 "make faas-flow execution logic runtime agnostic by providing as a library"
i want to use this package in different projects, that needs saga like patter to control microservices.
I think that this is suitable for such kind of stuff. I can register rpc services and create workflow with dag.
But i need also custom executor what via provided workflow can do needed actions (in my case execute different microservices, get it results)

[2019-07-26 00:29] kwojcicki commented on #71
Seems it was fixed as part of https://github.com/s8sg/faas-flow/commit/de0012459789bb9f57aa7b82d02082fdd1327c35 :)

[2019-07-26 00:29] #71 closed

[2019-07-26 03:03] s8sg commented on #72
@vtolstov Thank you for proposing this. Distributed saga can be one of the good use cases. But I can't tell for sure, I need to check the guarantees and construct it should provide. It will be a good thing to explore.

I have a plan to add a simple HTTP operation construct as
[code]
and also let user use existing [Request Handler](https://godoc.org/github.com/s8sg/faas-flow#RequestHandler) and [Re

[2019-07-26 03:06] s8sg commented on #68
@chennqqi we need to check and find a logic so that it works accross all deployments

[2019-07-26 03:15] chennqqi commented on #68
an other way:
`docker exec`  an  faas function docker
ENV|grep $functionname
There is an other way:
   strings.Split(os.Getenv("HOSTNAME"), "-")[0] if flow name dosen't contains `-`

https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables

[2019-07-26 03:16] chennqqi commented on #68
already test of-watchdog

[2019-07-26 03:51] s8sg commented on #37
Great. We might not support all the features of step functions, but for now we can create a dag definition based on what we support. One amazon state language specification example I was looking at
[code]
The corresponding generated dag contructs in faas-flow will be like
[code]
The goal is to provide an sdk function like
[code]
I can't quite get my head around that how will we create the flow def

[2019-07-26 04:21] s8sg opened #73 "Add options to retry operations with retry count"

[2019-07-26 04:22] s8sg opened #74 "Add timeout option for operations"
When performing a Operation, user can mention a timeout. This timeout will be applied for each operation types. If timeout happen, operation will be killed and execution will be failed as if the operation has failed. If operation retry is configured, it will be retried.

[2019-07-26 04:23] s8sg opened #75 "Create Operation to construct and execute simple HTTP request"

[2019-07-26 04:25] s8sg commented on #68
@chennqqi Which one works with `of-watchdog`
[code]
or
[code]
And it needs to work on swarm, kubernets and other deployment

[2019-07-26 04:52] s8sg commented on #72
If you just want to use the `sdk` for another project without using openfaas as a runtime, you need everything in this [folder](https://github.com/s8sg/faas-flow/tree/master/template/faas-flow/vendor/github.com/s8sg/faas-flow). Is it what you asking ?

If you are using only the sdk, we may need to put some work before its very flexble. Current `sdk` allows you to construct the full pipeline and us

[2019-07-26 06:32] vtolstov commented on #72
Yes i want to use without openfaas runtime, how can i use own runtime?
Minimal i need to go via steps in graph and execute it.i see sdk dir, but it not contains code to run workflow.

[2019-07-26 06:41] s8sg commented on #72
Right, SDK doesn't contain code to run the workflow. The workflow run logic is part of the openfaas template, and now its very tightly coupled. Honestly, I thought of making the sdk runtime agnostic but later forgot. It's better to create a separate `faasflow.executor` package. I really like the idea.

[2019-07-26 08:08] vtolstov commented on #72
Can you create example poc for executor that i can extend?
I need firstly only iterating in sequence via workflow pipeline

[2019-07-26 08:15] s8sg commented on #72
Okay. Give me this weekend, I may have something similar in next week.

[2019-07-26 08:17] vtolstov commented on #72
Thanks?

[2019-07-26 16:03] vtolstov commented on #72
can you say me, how get steps in order from pipeline?

[2019-07-27 02:04] s8sg commented on #72
The logic is mainly [here](https://github.com/s8sg/faas-flow/blob/master/template/faas-flow/handler.go#L905)
[code]
In faasflow the execution happen as a BFS traversal, but each branch is executed by a separate execution thread (function execution). To share the state across execution  we are using the below Structure
[code]
In between request it encode the state and send is as a request to the ne

[2019-07-27 13:43] s8sg commented on #65
@tim-hellhake The issue was quite silly . The method `POST` was not being set. The PR fixes it. I'll merge and close the issue. Please give it another try, it should work.

[2019-07-27 13:44] #65 closed

[2019-07-27 14:34] tim-hellhake commented on #65
I updated my flow function with:
1. ```faas template pull --overwrite https://github.com/s8sg/faas-flow```
2. ```faas-cli up -f flow.yml```
Now I get a 500 when I call the function.
I looked into the flow functions logs and found this:
[code]

I assume this is caused by https://github.com/s8sg/faas-flow/pull/67?

[2019-07-27 14:41] s8sg commented on #65
If you using Kubernets can you please try with ‘gateway.openfaas:8080’. Ideally the call to OpenFaaS function must be made via gateway.

[2019-07-27 14:50] tim-hellhake opened #77 "Function cannot be called if gateway is not in the same namespace"
Since https://github.com/s8sg/faas-flow/pull/67 the function is called through the gateway.
This works only if the gateway is in the same namespace as the function.
As you can see [here](https://docs.openfaas.com/deployment/kubernetes/) the recommended way is to place the functions in a separate namespace.

[2019-07-27 14:52] tim-hellhake commented on #65
Yeah that's what I just tried 😬
I created an issue: https://github.com/s8sg/faas-flow/issues/77
With the namespace added java functions finally work.

[2019-07-27 15:00] s8sg commented on #65
We expect user to set the gateway based on the deployment environment. This is documented in README.

https://github.com/s8sg/faas-flow/blob/master/README.md#add-configuration

[2019-07-28 02:28] s8sg commented on #77
Thank you for the issue and PR. In docker swarm with the namespace the request will fail, so I cross checked OpenFaaS cloud for reference for the default, it seems there is no default. In that case gateway is not set it’s likely to fail. I guess having the default with the namespace is better. I’ve merged the PR.

[2019-07-28 02:49] s8sg opened #79 "Use global persistence connection to enhance performance"
All call to function and for next node execution are submitted via Gateway. In the current code
* A http client was being created for each incoming message in the handler. this is a overkill, cause for every new request there will be a Handshake.
* The http client created was using default transport. default http client does have a keep-alive setting.

We can achieve it by having a global client a

[2019-07-28 03:00] s8sg commented on #68
For docker swarm, none of the above approaches works. Till we have a solution which is agnostic of the deployment, we have to wait.

[2019-07-29 02:31] s8sg commented on #68
As we are using `of-watchdog` we have the `Request.Host`, for a function `myfunc` the Host is either
[code]
we can use a simple regex to parse the function name, as such
[code]
This matches all character till occurrence of `:` or `.`. As OpenFaaS function doesn't let user use either of then in function name, this should work well

[2019-07-29 04:58] #68 closed

[2019-07-29 04:59] s8sg commented on #68
This is merged.

[2019-07-29 21:30] kwojcicki opened #81 "Question/Enhancement/Research Batch Managmenent"
**TLDR**
Wondering the place faas-flow/faas-tower has in batch management ie batch management built on top of faas-flow or completely separate. What I call batch management: (job here is referencing a function call that is part of a batch not a k8s job) viewing batch/job states, pausing/canceling jobs/batches, notification if a batch/job fails, exponential backoff of failed functions, caching of f

[2019-07-30 02:23] s8sg commented on #81
Hi @kwojcicki, thank you for creating the issue. It does make a lot of sense to have a batch management system that utilizes OpenFaaS. I'm not entirely convinced that OpenFaaS needs to build the support for batch being a runtime for functions. Similarly, a batch management system may provide different constructs for batch jobs where function execution is one of them.

The current direction of Faas

[2019-07-30 02:27] s8sg commented on #72
The initial stage of refactoring is planned as below:
Faas-Flow SDK (completely decoupled from OpenFaaS)
Provide Interface:
* Operation
* ExecutionHandler
* ExecutionRuntime
* StateStore
* DataStore
* EventHandler

`Operation` implements any operations.
The Executor uses `ExecutionHandler` which handle operation execution and `ExecutionRuntime` which implements the runtime.
`StateStore` implements

[2019-07-30 17:22] #77 closed

[2019-07-31 22:57] kwojcicki commented on #81
Thanks for giving such a detailed response @s8sg ^_^

`In short, the SDK supposed to provide extensibility. Operation implements any operations. The Executor uses ExecutionHandler which handle operation execution and ExecutionRuntime which implements the runtime. StateStore implements execution coordinator backend in a distributed ExecutionRuntime and DataStore implements the intermediate data sto

[2019-08-01 08:51] chennqqi opened #83 "Does additional health check needed with of-watchdof"
faas-flow forgot to implement health check

[2019-08-02 04:02] s8sg commented on #81
@kwojcicki Few questions
#### status viewing:
1. currently for each request Faas-flow executor generate a `ReqId` for the whole flow. Can the same be used for `flow-batch-id`?
2. `Functions can be grouped on that key in the faas-flow-tower UI.`
      Does that mean listing and checking the Status for each function in a batch by batch id ?
3.  `Functions could be queued in a faas-flow-queue service

[2019-08-02 09:56] s8sg commented on #72
@vtolstov

[2019-08-02 10:05] vtolstov commented on #72
thanks for you work!

[2019-08-02 10:24] vtolstov commented on #72
what you think about add ability to map go func() to some string name in workflow, so we can use it in for example aws step functions?

[2019-08-02 10:30] s8sg commented on #72
I don’t get that clearly. Currently the Operation is just an interface. It can be anything. The execution can be handled any way you want. I mean you can certainly use it to compose workflow with lambda function and deploy it as a lambda function or run locally. Is that what you asking ?

[2019-08-02 12:43] s8sg commented on #72
@vtolstov

Can you please provide an example of what you suggesting ?

[2019-08-02 14:29] vtolstov commented on #72
aws have resource field for step: https://docs.aws.amazon.com/en_us/step-functions/latest/dg/amazon-states-language-task-state.html

so we for example can map Resource to some func. Onle problem with parsing this field, but this can be done by LoadAWSStep function...

[2019-08-02 14:53] vtolstov commented on #72
@s8sg also my question how the best provide rpc like ability to create steps in workflow.
I'm plan to have ability to combine workflow dynamically, like - i have some workflow id for example AccountCreate
and i want to have ability to register any service to that workflow via optional deps, so if deps are nil service run after previous registered in sequence, if deps are not nil - when i add servi

[2019-08-02 15:10] s8sg commented on #72
Okay, Lets say few scenario

**Scenario 1:**
AccountCreate perform 3 tasks, but services corresponding to that tasks are dynamic
[code]

**Scenario 2:**
AccountCreate perform N tasks, where N is dynamically obtained but fixed for one request
[code]

**Scenario 3:**
AccountCreate perform N tasks, where N is dynamically obtained during the execution of request
[code]

Does your requirement falls in

[2019-08-02 15:15] vtolstov commented on #72
When i want to execute i know N tasks, also for some task i want to have retries and timeout.
For me is like 1 and 3. Because i need SAGA pattern first.

[2019-08-02 15:37] s8sg commented on #72
`1` is certainly possible. As I said Node is just a place holder, operation can be decided dynamically
For `3` I'm not sure

alternatively can you use `conditional branching`?
For example when  if you need to undo tasks that has happened you can have condition branches after each task. This you can do when you defining the flow. In this pattern you can map each `task` to a dynamic service.
[code]

[2019-08-02 15:41] kwojcicki commented on #81
I think the best would be if users could provide a flow-batch-id so they themselves can specify function calls x,y,z are in flow-batch-id: "batch1", while function calls q,w,e are in flow-batch-id: "batch2".

Yup so going from my previous example it would be neat if faas-flow-tower would know there are 2 batches and could show a grid showing 2 rows one for each batch. With the possibility that eac

[2019-08-02 16:14] s8sg commented on #81
Great inputs. Let's have a separate issue for each of the items. And I'm not very experienced in UI, so PR's will be great

For queuing
let's assume each Job is a Node which execute a function. And batch is a flow. When a request comes the flow dynamically decide how many job to execute (with `foreach`) and executes them.
When I'm sending requests out to 5000 Nodes asynchronously, by default the e

[2019-08-02 20:02] vtolstov commented on #73
May be good to have backoff interval for retry

[2019-08-04 10:30] #72 closed

[2019-08-04 10:37] s8sg commented on #72
This is merged. The executor godoc:
https://godoc.org/github.com/s8sg/faas-flow/sdk/executor

This is how faasflow handles the execution:
https://github.com/s8sg/faas-flow/blob/master/template/faas-flow/handler.go#L307

You can just create a single go program that runs in a loop and executes all nodes in order.
[code]
You can handle this function and put the partial state in a channel. In the main

[2019-08-04 11:30] vtolstov commented on #72
Does in possible to HandleNextNode receives interface , so user functions decide how to use it and know what type of message inside it?

[2019-08-04 12:38] s8sg commented on #72
Actually state data is abstracted for a reason. We don't want user function to instrument the partial state, thats why we just providing the encoded state as `bytes`. It could have been done it as a `io.Reader` interface.

The idea is user pass the encoded state as it is, while Executing a the next node. The underlying details of the state is hidden from user
[code]
Alternatively for a new request

[2019-08-04 12:47] vtolstov commented on #72
For my case i need to marshal before execution,and unmarshal  it inside function, but may be this is not so bad.
Thanks.
Im try to create minimal POC and check

[2019-08-04 12:54] s8sg commented on #72
@vtolstov marshal can be expensive, it make sense. Maybe I can change it to a `PartialState` object. Which has only two methods:
[code]
and doesn't expose any other. Partial request could be made as:
[code]

[2019-08-04 13:11] vtolstov commented on #72
Yeah, this will be fine.
Also i dont read full pr,  does it possible to pass such interface across steps. So after step finished this interface encode to bytes and stored. But for next state we use interface. So for each step in sequence we saves decode time.

[2019-08-04 13:19] s8sg commented on #72
I meant that I'll also the executor.PartialRequest(partialState) as
[code]

[2019-08-04 13:34] s8sg commented on #72
something like this is possible

Initiate global execution channel as
[code]

Main thread
[code]
HandleNextNode as
[code]
What do you think ?

[2019-08-04 13:39] s8sg commented on #72
PR https://github.com/s8sg/faas-flow/pull/84
It adds the changes

[2019-08-05 19:53] vtolstov opened #85 "go.mod"
thanks for you many pr's, can you remove vendor and add go.mod ?
as of go 1.11 it supported and very useful. also repo does not needs to be have external deps.

[2019-08-05 21:23] vtolstov opened #86 "close method for store"
my toy store needs to be closed at the end of work, does i need to put close to Cleanup method or we need something new for closing store?

[2019-08-05 21:38] vtolstov opened #87 "add default example store"
what you think about to providing default single instance store (i'm create bbolt state store)?
it can be used for testing package and also as example how to create own store.
ALso i'm plan to provide also data store based on bbolt too.

[2019-08-05 23:48] vtolstov commented on #72
Thank you! i'm create simple storage for state and data. Now i'm try to couple all things and create simple executor for go-micro function calls. By i don't see any example how to form from beginning workflow with steps.

[2019-08-05 23:55] vtolstov commented on #72
for example if i want to run in sequence two steps: step1 -> step2 what i need to do?

[2019-08-06 05:51] s8sg commented on #72
Okay, let's say you wanna call micro service in order using faasflow.

### Step1: Define Operation
First implement [`sdk.Operation`](https://godoc.org/github.com/s8sg/faas-flow/sdk#Operation). If you calling a micro service using a RPC you can maintain the related configuration in the corresponding type.
[code]
### Step2: Define Executor
 Implement the [`sdk.Executor`](https://godoc.org/github.com

[2019-08-06 06:04] s8sg commented on #87
I'm not sure providing a `default`. Maybe it's a good idea, but for now my stand is allowing user to define their choice of `StateStore` and `DataStore`. Nothing packaged with `faas-flow`.

Bolt is good but may not go well with `OpenFaaS` considering it uses a local `DB` file, and when functions scales it may not have the local DB file.

Alternatively we can have a `faas-flow` convenience repo, wh

[2019-08-06 06:10] s8sg commented on #86
I think `cleanup()` is the last call made to the `Stores` and only called once in an execution lifetime. You can perform `close()` there.  For each workflow request `Init()` and `cleanup()` called only once.

Alternatively you can open a connection at workflow server initialisation if your workflow repeatedly take connection. you may keep the connection open() till you shutdown the server. It will

[2019-08-06 06:12] s8sg commented on #85
Sounds good. I'm a bit overwhelmed by all the pending issues now. I'll gladly take a PR 😄

[2019-08-06 06:12] s8sg commented on #83
Doesn't `of-watchdog` implement health-check ?

[2019-08-06 06:16] s8sg commented on #81
@kwojcicki I'm Considering to have a separate template as `faasflow-of-batch` or similar. Which will provide the default `StateStore` and `DataStore` making it much easier to get started with.

As the `SDK` is refactored it makes much more sense to have separate use-case specific templates.  I may put some input during this week.

[2019-08-06 06:47] s8sg commented on #73
@vtolstov
do you think its good have it integrated within the executor. Then the changes will be in `sdk` and applicable for all operation.

Alternatively we may let user handle it in `ExecuteOperation()` call. In that case it will be only at `faas-flow` template level changes

[2019-08-06 06:53] s8sg opened #88 "Add ability to stop/pause/resume an workflow"
As suggested in issue-#81 by @kwojcicki
We will provide ability to stop a workflow

[2019-08-06 08:06] s8sg opened #89 "Handle Operation start and End Event"
Currently `faas-flow` template only handles the Node start and stop event. SDK emits the Operation start and end event, although not being handled for monitoring.

[2019-08-06 08:13] chennqqi commented on #85
openfaas not support go.mod now, i think remove vendor is not a good idea

[2019-08-06 08:17] s8sg commented on #85
Thats a good point, although we are using our own `Dockerfile` and template.
I'm not very aware on `go.dep`, what is the behaviour is user include `vendor` for dependency. Does vendor get prioritised ?

[2019-08-06 09:19] vtolstov commented on #73
I think about it, in case of put it in ExecuteOperation all users needs to add logic to retry, timeouts and backoff. I think that timeout is the core stuff..

[2019-08-06 09:23] #83 closed

[2019-08-06 12:50] vtolstov commented on #88
does also we need to pause workflow or only stop?

[2019-08-06 12:51] vtolstov commented on #86
thanks! i'm init connection in init and close on cleanup

[2019-08-06 12:54] vtolstov commented on #87
i think that will be good to have such repo. So we can have all needed pieces inside it for end-users.
For example etcd and some db store (db is replicated like mysql master-maser or cockroachdb), some opentracing handlers, and data stores. "Default" needed to some kind of testing so we can run go test with local executor and some internal storage and check that all works fine.

[2019-08-06 15:14] s8sg commented on #88
Pause would be good to have. Implementing pause will need some changes in executor.

Stop will be a implicit feature of the sdk. It can use the statestore to mark a pipeline as inactive. If a node is already started execution of its operations then it will be hard to stop, but afterwards the execution will be stopped.

pause may need to be handled by the executor. Currently we forward the intermed

[2019-08-06 23:08] vtolstov commented on #72
thank you for such detailed instructions. last questions:
if i have many workflows for example one for account creation another for account deletion?
How executor knows with apply? Or i need as many executor as i have workflows ?
And another question func (microExecutor *MicroExecutor) Define(flow *faasflow.Workflow, context *faasflow.Context) (err error)

how can i create faasflow.Workflow ? Simp

[2019-08-06 23:42] vtolstov opened #90 "Dag validate"
Can you add some method for Dag to validate it?
So after defining workflow or add new element to Dag we can validate it and return error?

[2019-08-06 23:51] vtolstov opened #91 "pass own request id instead of generate"
[code]

if i have already generated request id (uuid) how can i pass it to executor inside raw request?
my use-case - when user hits api gateway for all requests i generate request id and it used in all logs and tracing. Will be good to have it also in faas-flow too. So basing on this ID i can get all needed data to understand what user do and what he get.

[2019-08-06 23:55] vtolstov opened #92 "restart workflow or something like this"
for debug purpose i want to store all stuff in data store and state store to be able to restart workflow.
what is the best way to do that - get raw request from storage or... ?

[2019-08-06 23:57] s8sg commented on #90
`Execute()` call always define and validate the DAG every-time its called. In case if the validation fails it will return error.

[2019-08-06 23:58] s8sg commented on #91
You can also map your requestId to a faasflow requestId and handle it inside executor

[2019-08-07 00:02] vtolstov opened #93 "Make faas-flow data encoder to be flexible, so one may use something else than json"
why state store gets base64 encoded data, i think that it must get raw data that encoded/decoded outside. I want to use google protobuf message so it in binary and not need to be converted to/from base64...

[2019-08-07 00:15] s8sg commented on #72
**Each time you call `Execute()` the `GetFlowDefinition()` method is called.**

Based on what you do on `GetFlowDefinition()` the pipeline will be defined. You can save an old pipeline object and copy the data to the passed pipeline reference or create a workflow and `Define()` it again. It completely depends on how you handle execution.

Similarly,
For different workflow you can handle the call t

[2019-08-07 00:20] s8sg commented on #92
If you writing your own Executor you can do it pretty easily. All you need is to stop `Execute()` iteration and debug the intermediate result.

In case of `faas-flow` Exector, once pause will be implemented one can use that feature. It will keep the `intermediate` result on stores.

[2019-08-07 00:28] s8sg commented on #87
The best place to do it would be `faas-flow-tower`, it already provides the monitoring stacks. But it also written as function and uses `OpenFaaS` platform. I'll see if theres a way to use the same image and deploy it separately

[2019-08-07 01:30] chennqqi opened #94 "suggest add developing roadmap into README.md"
To share your plan and trend of this project

[2019-08-07 01:34] chennqqi commented on #93
data store in `[]byte` slice. all openfaas return `[]byte` slice.
json.Marshal a `[]byte` slice default action is encoding to base64 string

[2019-08-07 06:49] s8sg commented on #91
This was asked for batch processing as well. Maybe we can support passing request ID

[2019-08-07 07:11] s8sg commented on #94
Thats a really good suggestion. I guess the primary focus of project has shifted a bit in the recent time. The initial goal for this project was to provide a function composure for `OpenFaaS`. The new direction is to promote the usability of the core `sdk` so that the same pattern can be applied in other systems.

Although the main priority is to support function composition for `OpenFaaS` and rel

[2019-08-07 08:03] chennqqi commented on #94
Here are two projects:
https://github.com/nuclio/nuclio
https://github.com/gaia-pipeline/gaia

I expect this project to:

1.  visualized like gaia. we can edit dag by drop and drag in graphic page.
2.  like nucli editable, we can edit script or flow function as modifier or forwarder in editor, and then auto deploy to faas.
3.  be a platform which compose simple functions to solve complicate proble

[2019-08-07 08:24] vtolstov commented on #91
In case of passing RawRequest via NewRequest i can't pass own request id to map it in executor (or i need to encode it in Data []byte)

[2019-08-07 09:01] vtolstov commented on #93
i'm write own store for data and state and check it contents. data base64 encoded

[2019-08-07 09:05] vtolstov commented on #93
[code]

[2019-08-07 09:47] vtolstov commented on #72
I think about it, but how can i understand what pipeline to load?
For example does it i want to pass some payload that contains workflow id and load needed pipeline based on this id stored in context?

[2019-08-07 10:11] s8sg commented on #72
Maybe you can do something like:
[code]
and in `GetFlowDefinition `
[code]
Does that work for you ?

[2019-08-07 10:17] s8sg commented on #72
I doesn't support building separate workflow in from a single deployment of `flow-functoion` in openfaas. It can be confusing. `faas-flow` in openfaas works by defining same state machine on each execution. A change in state-machine definition on execution time will cause failure. The good practice in notion of serverless as well would be create a flow function that represents one single functiona

[2019-08-07 10:38] s8sg commented on #94
@chennqqi
Those are very long term Roadmap. Currently we don't have any long term roadmap, neither I can think of any. We will keep evolving `faas-flow` based on the current requirements that we have.  Both of the project that you mentioned is quite matured. Also as I initially said `faas-flow` will be currently only based on openfaas as a runtime.

The right way would be to create a proposal for

[2019-08-07 11:40] s8sg commented on #91
No it's not supported now. I'm thinking it may be a good idea to support it.

[2019-08-07 15:10] vtolstov commented on #72
Ah ok, so i need to have pool of executor for each workflow, if workflow changed, spawn new executor for workflow and close older.

[2019-08-07 15:12] vtolstov commented on #93
@s8sg as i think i need to create own context package to have ability to use raw bytes without encode/decode.

[2019-08-07 15:41] s8sg commented on #93
I think the whole context might not be a interface, but suddenly the underlying data encoder can be. So at the time of context initialization executor initiate a default encoder. One may override it by there own. Encoder get called for Set() and Get() method

[2019-08-07 15:53] s8sg commented on #72
I already showed you an example how you can do it in a single executor. My point is as long as you are using the sdk to build something on top, you are free to use it based on your convenience. You can have separate executor or you can handle in same executor.

[2019-08-07 17:04] vtolstov commented on #93
Yes, this will be good

[2019-08-07 21:14] vtolstov commented on #86
I think that we still need some open and close methods for store. Simple example:
i'm create executor that works with local file as db. So it opens it in exclusive lock.
Executor
I'm pass to executor two requests. If i'm close db/file on cleanup i need to reopen it in Init or Configure. But i need it init only when define executor....
Or create some additional checks and open db only once.
May be

[2019-08-07 23:32] s8sg commented on #86
[code]
None of these method are meant to handle open/close on database. The open and close must be explicitly handled. Its not the executor concern to close a DB connection, neither it can determine the most optimal way to manage a connection. You can create a DB connection before Execute() call and close it after. Or you may keep it open for the entire time you are executing one or more request.

[2019-08-07 23:51] vtolstov commented on #86
ok

[2019-08-07 23:51] #86 closed

[2019-08-08 08:01] vtolstov commented on #90
Ok, sorry i need to deeply look at code.

[2019-08-08 08:01] #90 closed

[2019-08-08 08:03] vtolstov commented on #85
we can add go.mod file and also run when update deps go mod vendor. so we have in repo vendor folder, but it used only when building without go.mod support.
For others it will be ignored by go tool and it fetches deps based on go.mod file.

[2019-08-11 08:19] vtolstov commented on #73
@s8sg when you can do retries and timeouts?
Or how can i add it to provide pr (in case od adding it to sdk)

[2019-08-11 08:22] vtolstov commented on #74
What you think about global timeout for workflow?
So each operation have timeout and full workflow operations can have timeout too. Because if you have retries timeout for operation work for retry operation , but if i want to have global timeout for full workflow this is hard to do..

[2019-08-11 08:37] s8sg commented on #73
I’m really busy. I’ll do that as soon as I manage some time. Great if you can raise a PR. I haven’t made any progress so far on this one

[2019-08-13 21:09] vtolstov opened #95 "Change context in SDK to Operate on []byte"
i'm plan to modify context.go, firstly i want to modify Get and Set to return error and not panic,
also does we really need to have GetInt GetString and so?
I think that context must operate on []byte and hi-level app need to cast/decode needed stuff.

[2019-08-14 01:39] chennqqi commented on #95
GetInt GetString are covinient for user writing dag flow

[2019-08-14 02:56] s8sg commented on #95
sdk `Context` and `Faasflow Context` can be different. I agree. If you are changing the context to have `set()` and `get()` then we may not need the encoder as proposed in #93 in sdk.

If you raising a PR, please also add an `faasflow.Context` with `encoding` logic and the convenience method,  so that it the current faasflow code doesn't break

[2019-08-17 13:16] vtolstov commented on #88
How can i serialize current workflow to store? Does it already have some sort of ability to export it to some representation?

[2019-08-18 02:55] s8sg commented on #88
Check https://godoc.org/github.com/s8sg/faas-flow/sdk/exporter

These provide functionality to export the workflow definition in JSON

[2019-08-18 02:56] s8sg commented on #95
@vtolstov have you made any progress on the same, otherwise I may take it

[2019-08-18 07:20] vtolstov commented on #95
Ah sorry, you can take it. I'm try to deeply investigate sdk and create some code for rpc(to be able to construct workflow via rpc and store it in store)

[2019-08-18 20:36] vtolstov opened #96 "wrong package inside exporter.go"
https://github.com/s8sg/faas-flow/blob/master/sdk/exporter/exporter.go
have package sdk and not exporter

[2019-08-18 20:40] vtolstov commented on #88
Thanks! really helpful. How can i after that import flow by this json representation?

[2019-08-19 16:50] vtolstov commented on #88
as i see now is only way it to unmarshal json to https://godoc.org/github.com/s8sg/faas-flow/sdk#DagExporter after that iterate over nodes and construct DAG. Do you have some different way of restoring workflow from json?

[2019-08-20 01:49] s8sg commented on #88
Now I see whats your point, no thats the only way for now.

[2019-08-20 12:30] vtolstov opened #97 "sdk Operation question"
sdk.Operation have GetProperties method, but it returns map[string][]string
How to deal if my operation contains not string properties? For example my operation have some Options to call and can be any interface and can be known only when specific operation runs?
For example i can have op1 that have opts []pkg1.Option and op2 that have opts []pkg2.Option ?
Does it possible to change GetProperties

[2019-08-20 12:55] vtolstov commented on #97
Or how to deal with exporting custom sdk.Operation ?

[2019-08-20 23:27] vtolstov commented on #88
no problem, i'm iterate on unmarshaled struct...

[2019-08-20 23:27] vtolstov commented on #95
@s8sg do you have some progress on sdk/context ?

[2019-08-20 23:28] vtolstov commented on #97
may be i understand now you point with Properties like map[string][]string

[2019-08-21 08:03] s8sg commented on #88
If you come up with the code to construct flow with iteration can you raise a PR adding it in the `sdk. The similar can be used for AWS State language

[2019-08-21 08:29] vtolstov commented on #88
Yes, I'm plan to do that.

ср, 21 авг. 2019 г., 11:03 Swarvanu Sengupta <notifications@github.com>:

[2019-08-21 15:39] vtolstov opened #98 "ability to register own sdk.Operation to some map[string]sdk.Operation"
Do be able to construct Dag from json we need to have map[string]sdk.Operation
so when we have sdk.OperationExporter we can unmarshal json operation Properties to needed struct and assign this operation to node.

[2019-08-21 15:39] vtolstov commented on #98
@s8sg can you provide some suggestions for function name or some interface definition for such stuff?

[2019-08-21 20:57] vtolstov commented on #96
pr in #99

[2019-08-21 21:19] vtolstov commented on #95
also i think that we need to remove all panic from context.go and return ([]byte, error) from get func, and error from set func.

[2019-08-21 21:36] #97 closed

[2019-08-21 21:40] vtolstov commented on #98
also for sdk.Operation we need some method to reconstruct it from Properties. Or what you think?

[2019-08-21 22:14] vtolstov commented on #98
sorry for noise, also i think that sdk.Operation need Execute method, so faas-flow runs Execute method for each operation inside executor.ExecuteOperation method.
Because only sdk.Operation known how to execute it, this save type switch inside ExecuteOperation method. For example Execute method in sdk.Operation can be func Execute([]byte) ([]byte, error)

[2019-08-22 02:59] s8sg commented on #95
I’ll complete it on this weekend.

[2019-08-22 03:01] s8sg commented on #96
Merged

[2019-08-22 03:01] #96 closed

[2019-08-22 03:20] s8sg commented on #98
Operation execution part is loosely coupled with Sdk while highly coupled with executor. Which means Executor defines what a operation is and what type of value it expect. So the Execute() function signature is not a concern of sdk. One may use the underlying type of sdk.Operation to implement a separate interface that define Execute(). By calling ExecuteOperation() sdk delegate the operation hand

[2019-08-22 05:56] vtolstov commented on #98
without delegating execution part to custom sdk.Operation we lost usability in case of adding new Operation. For example when i need to ad my own operation i need create go file for it wit needed struct that satisfies interface. After that i need to modify my executor to add support for this action.

When operation have some method like Call, executor can run this method and expect []byte, error r

[2019-08-22 06:05] vtolstov commented on #95
fine

[2019-08-22 06:24] s8sg commented on #98
Thats a valid point.

[2019-08-22 06:28] vtolstov commented on #98
so do you suggest me to add to sdk.Operation method Call with provided signature? I can create pr =)

[2019-08-22 06:45] s8sg commented on #98
I guess its better to Add an `Encode()`
[code]
It will need change in executor code, where we are calling `ExecuteOperation`.
As well as in faasflow executor code.

[2019-08-22 12:07] vtolstov commented on #98
Ah, ok so we add encode and execute. May i suggest return byte slice in encode and not string?
Also add decode from byte slice?

[2019-08-23 06:22] s8sg opened #103 "Create resource to Deploy Default StateStore"
1> Decide on default statestore
2> Create resource to deploy in K8s and Swarm
3> Change `FaasFlow` to use default store, if not defined

[2019-08-23 06:25] #88 closed

[2019-08-23 07:46] vtolstov commented on #103
May be you can use memory store that uses nats to sync across all instances?

пт, 23 авг. 2019 г., 9:22 Swarvanu Sengupta <notifications@github.com>:

[2019-08-23 08:42] s8sg commented on #103
Which memory store uses nats to sync across all instances ?
We need strong consistency, is it possible with such system ?

[2019-08-23 08:54] vtolstov commented on #103
If this is not for tests and need strongly consistent, I'm recommend etcd. It already stable and used by k8s.

[2019-08-23 08:56] s8sg commented on #103
Yeah I was also considering `etcd`

[2019-08-23 09:13] vtolstov commented on #92
As stop and other implemented, how can we do restart? Simply pass original input to workflow? Does it enought?

[2019-08-23 09:13] vtolstov commented on #91
Do you understand how to add this?

[2019-08-23 09:50] s8sg commented on #91
Yeah the adding part is straight Forward. We may take the request as a input in a header/query. We already using one header, we may use another such as: ‘x-faasflow-reuse-id’

[2019-08-23 09:58] s8sg commented on #103
I think its good that we Provide default statestore in SDK, maybe in memory one. For faasflow template I may use the etcd as default and initialize it, user may override it if needed.

[2019-08-25 22:12] vtolstov opened #104 "format of key in state/data store"
for example i have two nodes org.unistack.account and org.unistack.contact
i see that Set receives key 0_1_org.unistack.account--0_2_org.unistack.contact

my use-case ability to fill some db table like this:
[code]

[2019-08-25 22:13] vtolstov commented on #104
does it possible something like above?
also after some time i'm plan to change request and response to fill uuid of object in s3 storage

[2019-08-26 06:50] s8sg commented on #104
@vtolstov  please use slack for question which are not directly relevant to faasflow

[2019-08-26 07:05] #91 closed

[2019-08-26 08:13] #104 closed

[2019-08-26 08:40] s8sg commented on #92
passing an original input to workflow would work.

[2019-08-26 08:43] s8sg commented on #92
For this we don't need any separate handling, can we close the same ?

[2019-08-26 08:46] #92 closed

[2019-08-26 08:46] s8sg commented on #74
Duplicate #73

[2019-08-31 11:30] chennqqi opened #109 "Use callback URL header for faas-flow request"
I found dag flow not return data in faas `callback`.  Shoud i use faas-flow's `callback`?
Why you made this design. can you share your thought

[2019-09-02 20:58] vtolstov opened #110 "add additional fields to EventHandler NodeStart/NodeEnd"
to get ability to known what the root node in event handler we need to have index of node.
so if index equal 1 we known that this is root node in dag or subdag.
Now to get this info i need to parse nodeId inside event handler.

[2019-09-02 23:36] vtolstov commented on #110
and may be some link to state and store keys? i can extract this data based on nodeId... but may be this is can be useful?

[2019-09-03 11:21] s8sg commented on #109
The way currently OpenFaaS utilises callback is not gonna work with `faasflow` which has more than one node. The reason being openfaas calls the callback with the result of the first node. This is empty because `faas-flow` keep the intermediate result in `DataStore`. One option could be to get the callback url and call it from last node of workflow function. I'm not sure if the callback url get pa

[2019-09-04 20:54] vtolstov opened #111 "extend dag interface to allow starting from specific node in dag"
How can i start execution from specific dag node?

[2019-09-05 02:39] chennqqi commented on #109
X-Faas-Flow-Callback-Url should be better way. The disadvantage of faas-flow sdk `callback` fixing callback url. That's not flexiable.

[2019-09-05 08:20] s8sg commented on #109
I agree.

[2019-09-05 10:52] vtolstov commented on #111
or may be best create new dag from specific node, so we extract part of old dag to new and use it for execution

[2019-09-05 10:53] vtolstov commented on #111
[code]

[2019-09-05 12:03] vtolstov commented on #111
hm my POC is wrong, we need to have ability to create completely new dag started from specific Node

[2019-09-05 12:40] vtolstov commented on #111
@s8sg can you check me?

[code]

[2019-09-05 23:57] vtolstov opened #112 "speedup execution"
I have simple dag like this

[code]

all of this operations is noop. but execution time of it is about 1.45s
does it possible to speedup things? i'm already in executor cache Dag, so LoadWorkflow for execution is noop after first run.

[2019-09-06 00:00] s8sg commented on #111
Do you know any workflow management system that allows you to start execution from an arbitrator point in the workflow ? I don’t understand why do you want this, specially when our workflow definition is generated from code, not an Yaml. Alternatively Sub problem can be solved with Subdags and dag composed with subdag

[2019-09-06 00:02] s8sg commented on #112
Can you tell me how did you measure that execution time ?

[2019-09-06 00:03] vtolstov commented on #111
I don't know about other systems but i think that this is can be useful to restart failed steps in workflow. For example you have 5 Nodes and 3 of them failed. You can restart workflow but don't complete successful actions, only failed.
But may be you right.

[2019-09-06 00:05] vtolstov commented on #112
very simple - i' create flow_test.go file
[code]

and run go test -v

[2019-09-06 00:05] vtolstov commented on #112
i measure db time inside store and event, and it does not have major slowdown

[2019-09-06 00:07] vtolstov commented on #112
my measure says that always after node execution stop and before new node execution start always spent is about 10ms
[code]

[2019-09-06 00:09] s8sg commented on #111
To have compensated transactions we need some changes in DAG I agree. But I won’t jump to a generic solution, specially when we have the concept of dynamic branches. SAGA is a very different pattern than most of the workflow. Currently my stand is, people who are writing Saga can handle compensation on code level. One can easily create a wrapper on top of faasflow sdk for saga Pattern

[2019-09-06 00:10] vtolstov commented on #112
this is timing for LoadWorkflow in executor:
[code]

[2019-09-06 00:17] s8sg commented on #112
I would try having an in-memory database and check the execution time. And also check the operation execution time

[2019-09-06 00:21] vtolstov commented on #112
as i see most of the time takes this - NodeCompletionLoop

[2019-09-06 00:22] vtolstov commented on #112
find next stop message is above NodeCompletionLoop label
[code]

[2019-09-06 00:25] vtolstov commented on #112
this loop takes:
[code]

[2019-09-06 00:25] vtolstov commented on #112
so it always for me takes is about 20-25 ms

[2019-09-06 00:27] s8sg commented on #112
Are these from EventHandler, can you tell me which are the method ?

[2019-09-06 00:30] vtolstov commented on #112
this is from executor.go in sdk/executor/executor.go my debug completed, most of the time spent in handleNextNodes in executor

[2019-09-06 00:31] vtolstov commented on #112
@s8sg can you combine simple dag like my (with blank operations) and check timing for handleNextNodes ?

[2019-09-06 00:33] s8sg commented on #112
Is it okay to share your `handleNextNodes` implementation ?

[2019-09-06 00:34] s8sg commented on #112
I'll create a POC for documenting how to use the `sdk`. Let me do that this weekend

[2019-09-06 00:34] vtolstov commented on #111
this is not for compensate, but for ability to restart full flow without trying to do successful steps

[2019-09-06 00:36] vtolstov commented on #112
it is simple:
[code]

[2019-09-06 00:38] s8sg commented on #111
Faasflow doesn't continue execution if any of the step is failed. Just as the logic of StateMachine.  I can handle that in an Operation level, so that if my operation fails, I keep it in a Queue. After the execution is finished I can iterate over those operation that failed and create a new DAG to retry.

[2019-09-06 00:43] vtolstov commented on #111
hm interesting case to create new DAG from failed operations.. Ok, i'm abandon this now. If i have more serious suggestions i'm reopen it for feature discussions.

[2019-09-06 00:43] #111 closed

[2019-09-06 00:43] s8sg commented on #112
Ohh I thought its `HandleNextNode`

In case of `handleNextNodes`  check the operation it does
[code]

I strongly suggest you to check with in memory Implementation of StateStore and DataStore

[2019-09-06 00:59] s8sg commented on #98
This one is already implemented
https://github.com/s8sg/faas-flow/blob/master/sdk/operation.go#L5

[2019-09-06 00:59] #98 closed

[2019-09-06 01:00] vtolstov commented on #112
yeah thanks!

[2019-09-06 01:00] #112 closed

[2019-09-06 07:45] vtolstov commented on #98
It lacks decode method to be able to construct operation from json

[2019-09-07 13:55] #89 closed

[2019-09-14 21:36] vtolstov commented on #81
i have some questions about batch jobs.
For example i have some flow that have 20 nodes to execute one operation for each node.
First i need some upper bound to say how much concurrently running jobs i can have. Buffered channel is not good, because i need to put jobs to db first.
Second i need some locking for concurrent running jobs on the same resource. For example i have job that affects resou

[2019-10-01 08:28] Qolzam opened #114 "Error failed to init tracer"
I followed [faas-flow README](https://github.com/s8sg/faas-flow#getting-started) but I got error :

`echo "Adam" | faas invoke greet
[ Failed ] failed to init request tracer, error failed to init tracer, error lookup jaegertracing on 10.96.0.10:53: server misbehaving`

I have ` enable_tracing: false` in faas-flow environment. But seems `faas-flow` trying to initialize  jaeger tracing! Is it a norm

[2019-10-01 08:32] s8sg commented on #114
@Qolzam Thank you for reporting this. Once you set `enable_tracing: false`, it must not try to initialize jaeger. Let me check

[2019-10-01 08:39] s8sg commented on #114
Before we initialize, we should check if monitoring is enabled
https://github.com/s8sg/faas-flow/blob/72996359a4082cc2085dd440f7cee7f7a5b9baff/template/faas-flow/handler.go#L275
This is the function
https://github.com/s8sg/faas-flow/blob/72996359a4082cc2085dd440f7cee7f7a5b9baff/template/faas-flow/handler.go#L223
None of the `Executor` code checks the function. I'll fix this

[2019-10-01 10:47] Qolzam commented on #114
Thank you @s8sg for fast checking. Is there any way work around? I have tried to comment  that part (temporary) in template file but I got another error:

`Server returned unexpected status code: 504 - `

function logs show :

[code]

[2019-10-03 04:51] s8sg commented on #114
This is due to last commit. We were initialising an unbuffered channel for exit. Please try again with the latest code.

[2019-10-04 06:58] Qolzam commented on #114
Thank you @s8sg for fix. However I got `Gateway Timeout` in response.

Here is the function log:
[code]

[2019-10-10 02:06] s8sg commented on #114
This is due to the vendor was not updated in the template 😞

[2019-10-10 02:10] #114 closed

[2019-10-10 02:12] s8sg commented on #114
@Qolzam Can you please give it another try and reopen if necessary

[2019-10-11 07:56] Qolzam commented on #114
Thank you @s8sg for fix. I checked and it worked. I will dig more on your great job :)

[2019-10-17 06:12] #109 closed

[2019-10-17 06:12] s8sg commented on #109
@chennqqi This is merged

[2019-10-18 10:12] vtolstov commented on #110
@s8sg what is the best way to pass additional data to event handler like node index?
I can modify signature of event functions, or pass to event handler sdk.Dag and get from it needed data based on node if?

[2019-10-25 10:26] naturlich opened #119 "Always "Not ready" status in openfaas dashboard"
Hi,

I  tried to run the greet example, but the status always shows "Not ready".
Are the ymls and setting correct?
Thanks.

My greet.yml is <br>
[code]
The flow.yml is
[code]
The result is
![image](https://user-images.githubusercontent.com/12527233/67564085-c0794f80-f754-11e9-9572-9f3f4fae2f4a.png)

[2019-10-25 10:30] s8sg commented on #119
Can you please share the flow function logs

[2019-10-25 10:32] naturlich commented on #119
Hi, I tried this, but nothing is dumped.

``
$ faas logs greet
WARNING! Communication is not secure, please consider using HTTPS. Letsencrypt.org offers free SSL/TLS certificates.
[code]

[2019-10-25 10:33] s8sg commented on #119
Can you check the container logs please

On Fri, Oct 25, 2019 at 7:32 PM naturlich <notifications@github.com> wrote:

[2019-10-25 10:42] naturlich commented on #119
The ImagePullBackOff leads to the stuck.
Thanks for your help.

[code]

[2019-10-25 10:42] #119 closed

[2019-10-26 08:57] s8sg commented on #119
okay, let me know if you need any help to get started. Theres a slack channel that you may also use

[2020-01-05 12:45] vtolstov commented on #95
i think that this can be first #121
so we change to []byte slice for data store. after that i'm add encoder logic and call Encode/Decode methods on it. But underlining data store operates on bytes.

[2020-01-05 23:45] vtolstov opened #122 "data store interface"
I'm not cleanup data store when execution finishes. For example for debug or historical data.
I need to have ability to easy get data from data store via passing requestID and Vertex name.

Now key looks like 0_3_unistack_cms_account.AccountService.AccountCreate--0_7_unistack_cms_project.ProjectService.ProjectCreate

So without knowledge about key format is impossible to externally get this data.

[2020-01-07 13:33] s8sg commented on #122
So if I understand correctly, you are asking to get a way to find the intermediate data between two nodes. So currently the design is:
[code]

`LookUp()` as I understand is something that can retrieve the data given a request ID and from and to vertex. Now is it necessarily need to be added in the data store and the interface is the question

The interface is designed for keeping the consumer in m

[2020-01-07 13:37] s8sg commented on #122
If you need the `LookUp` functionality, best to write a separate module. We can expose the generation of code logic in sdk
https://github.com/s8sg/faas-flow/blob/master/sdk/executor/executor.go#L894

[2020-01-08 21:45] vtolstov commented on #122
main problem that after execution completes i can get this data?
So for example i have dag stored somewhere, i can load it, validate, and get this data back.
But if that dag changed? For example i have stored data in db or in some kv. After some time dag is changed, for example added new node. In this case i can't determine older run data.
Does it possible to create one solution to both cases?
Doe

[2020-01-08 23:28] vtolstov opened #123 "add ability to access state info for current dag node and data store from operation"
example use-case - restarting workflow, when some dag nodes with operations completed successful.
So if user wants, he can access state store and query current dag node state (if user runs the flow with the same request id as before) and also state to allow read/write to data store.

[2020-01-09 05:37] s8sg commented on #110
@vtolstov I would recommend to take the `sdk` changes in low priority. We have the `sdk` into a stage where it doesn't need any major changes in terms of feature but stability

[2020-01-09 05:38] s8sg commented on #123
@vtolstov I would recommend to take the `sdk` changes in low priority. We have the `sdk` into a stage where it doesn't need any major changes in terms of feature but stability.

[2020-01-09 12:59] vtolstov commented on #123
main problem now, that then dag execution failed i can't easy recreate recovery dag because failure handler can receive only error message without knowledge which node failed.
Operation can't access state and data storage so it don't known about previous state.

[2020-01-09 23:31] vtolstov opened #124 "add CutDag(id string) and Reverse() sdk.Dag funcs"
I want to add two funcs to sdk.Dag
* CutDag(id string) (*Dag, error)
    it returns part of dag starting from specified node, or error if node not found
* Reverse() (*Dag, error)
    it return reverse dag

I'm use it in my workflow.
CutDag is used when part of workflow failed. I can start dag execution from specific place without re-run all operations
Reverse is used when workflow failed, EventHan

[2020-01-09 23:48] vtolstov commented on #124
@s8sg please check #125 does it looks right or i'm miss something?

[2020-01-10 04:06] s8sg commented on #124
@vtolstov How do you handle a case where a branch has made before the cut and merges with the dag after the cut ?

[2020-01-10 07:35] vtolstov commented on #124
If parent of node placed before cut, child goes as started node.
So this is human decision where to cut

[2020-01-10 12:39] vtolstov commented on #124
@s8sg i think that for feature improvements i can add detection. So if after cut in dag present aggregation of different branches that started before cut or multiple branches present after cut, that have parents before - forbid this cut and return errors.

[2020-01-10 12:49] s8sg commented on #124
A workflow failure is a failure of the workflow as a whole; there is already pause and start. I don't see a need for it now

The DAG execution is bound with some laws, for every dag execution there is only one start node and only one end node. This is decided as a DAG for a reason.

[2020-01-10 12:51] s8sg commented on #124
As I mentioned before I'm no willing to add any more feature on the SDK. We have use cases on the faasflow itself, which we need to focus now. For now I'll close all the issue which are not in priority in `sdk` and revisit when we have dealt with the stability and ease of use for the product itself.

[2020-01-10 12:51] #124 closed

[2020-01-10 12:52] #123 closed

[2020-01-10 12:53] s8sg commented on #122
DAG are final in nature, there supposed two be no changes in a DAG where there is an active execution

[2020-01-10 12:53] #122 closed

[2020-01-10 12:54] #110 closed

[2020-01-10 13:03] vtolstov commented on #122
I need only read only access, not write. So this will not break anything from running dag execution

[2020-01-11 01:03] s8sg commented on #122
The idiomatic way of doing it will be to create wrapper on top of the state-store and ignore the cleanup call. Then you can add a separate library that fetch the data based on the key generated with the node name. There is no changes that is needed in SDK now

[2020-01-12 01:08] s8sg commented on #95
This has a PR open, please incorporate the review comments and get it merged.

[2020-01-12 05:31] #95 closed

[2020-01-13 02:07] s8sg commented on #85
This is not an `sdk` enhancement issue

[2020-01-14 09:46] s8sg commented on #103
[Faas-Flow Infra](https://github.com/s8sg/faas-flow-infra) is created, which includes the Kubernets and Docker swarm resource to deploy the StateStore, DataStore and Jaeger for tracing

[2020-01-14 09:46] #103 closed

[2020-01-14 09:47] #74 closed

[2020-02-24 14:55] mrchypark opened #127 "How do you think about dapr as data store?"
[dapr](https://github.com/dapr/dapr) is one of cloud-native runtime for everyone powerd by ms.

They provide state store as data store.

how about use this?

[2020-05-15 04:20] peeyushsrj opened #128 "are you thinking of visual based programming?"
I been working with JSON to make graphs. don't you think it is good to ease development with this? Drag and Drop! And thus focusing on business logic.

[2020-05-16 07:07] s8sg commented on #128
That is something we wanted to do in [Faas-flow-tower](https://github.com/s8sg/faas-flow-tower)

[2020-05-16 07:08] s8sg commented on #128
Great if you can propose something

[2020-05-17 13:13] s8sg opened #129 "Allow ability to create aggregators as a function"

[2020-05-23 05:22] s8sg opened #130 "Change documentation and configuration to Kubernets default"
* [ ] `Faas-flow` Readme should be changed to Kubernets default
* [x] Change `Faas-flow-Tower` documentation (Readme) and configuration to Kubernets default
   * [x] Change `conf.yml` to only Kubernets
   * [x] Change secret name in `flow.yml` to basic-auth

We need to make sure that both of them are aligned with `Faas-flow-infra` Kubernets configuration like:
1. name Space
2. Service name
3. Port

[2020-05-23 05:27] s8sg opened #131 "Faas-flow Infra should deploy the whole Faas-flow stack"
1. Faas-flow Infra should make Kubernets default and Provide the existing helm Chart
2. Faas-flow Infra should provide documentation for deploying Faas-flow stack in Openfaas on Kubernets : Change the readme
3. Faas-flow Infra should deploy the Faas-flow-tower along with the infra component

[2020-05-24 11:32] #85 closed

[2020-05-25 04:10] s8sg commented on #131
Duplicates: https://github.com/s8sg/faas-flow-infra/issues/1

[2020-05-25 04:10] #131 closed

[2020-05-25 04:13] s8sg opened #136 "Keep the default flow configuration in the Dockerfile of Template"
FaaS Flow needs below openfaas related configuration
[code]
We can put them in template [`Dockerfile`](https://github.com/s8sg/faas-flow/blob/master/template/faas-flow/Dockerfile)

So that user not need to define them

[2020-05-25 04:30] s8sg opened #137 "Make Consul and Minio as default StateStore and DataStore"
FaasFlow needs StateStore and DataStore to operate with all the feature
We are making the  `StateStore` and `DataStore` mandatory for Faas-flow to operate and this configuration must be provided with flow configuration

## Consul as default StateStore
Faas flow will use `Consul` as the default state Store
We already have a `ConsulStateStore` implementation (https://github.com/s8sg/faas-flow-consul

[2020-05-26 02:13] #137 closed

[2020-05-27 02:10] s8sg commented on #136
This has been merged

[2020-05-27 02:10] #136 closed

[2020-05-29 11:16] #127 closed

[2020-05-29 11:16] #94 closed

[2020-05-29 11:17] #93 closed

[2020-05-29 11:17] #130 closed

[2021-06-20 13:00] tim64195419 opened #143 "build failed"
command: "faas-cli build -f test-flow.yml" with the example
I got build error

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/14270024/122675097-80f55600-d20a-11eb-95e1-f2bacc6bf29b.png">

I can't understand what is going wrong?

[2021-06-20 15:11] #143 closed

[2021-11-29 11:47] dimgiagos44 opened #144 "Failed to init flow"
Has anyone experienced "access key ID provided not exists in record" problem?
![Screenshot from 2021-11-29 13-46-51](https://user-images.githubusercontent.com/57920951/143862661-9ab0b937-80df-44e3-8b44-5d2554989294.png)

Thanks in advance!

[2021-11-29 15:07] dimgiagos44 commented on #144
Problem solved after deleting the 2 secrets created: s3-access-key & s3-secret-key and reinstalling the faas-flow-infra deployment via helm

[2021-11-29 15:07] #144 closed

[2021-12-19 21:41] dimgiagos44 commented on #143
probably your handler.go fails to compile due to a syntax error for example..

[2021-12-22 10:56] dimgiagos44 opened #145 "Multiple-node Dag's execution fails"
When my workflow is sync with a single node, everything works fine.

When my workflow is async with more than one nodes, the dag execution always fails.

I work on a kubernetes cluster and i am using the localhost:8080 gateway for the openfaas functions by port-forwarding the svc/gateway from openfaas namespace.

Thanks in advance!
![Screenshot from 2021-12-22 12-55-05](https://user-images.githubu

[2021-12-22 15:51] dimgiagos44 commented on #145
Problem solved from [](https://github.com/faasflow/runtime/issues/1) and [](https://github.com/faasflow/faas-flow-example/issues/6)

[2021-12-22 15:52] dimgiagos44 commented on #145
Problem solved [1](https://github.com/faasflow/faas-flow-example/issues/6) and [2](https://github.com/faasflow/runtime/issues/1)

[2021-12-29 16:44] dimgiagos44 opened #146 "Flow with more than one nodes"
For a flow that has more than one nodes, Faas-flow doesn't return any response.
Is it possible, when invoking a multi-node flow, for the **very last** result to be printed at the terminal?
(As it stands for a flow with a single node)

[2022-01-22 11:16] dimgiagos44 commented on #145
Setting `direct_functions = "true"` solves this error *but* makes OpenFaas unable to distribute the load to available replicas of a function and so parallel invocations cannot be executed.

[2022-01-24 10:58] #146 closed

[2022-02-02 11:02] dimgiagos44 commented on #145
Solved with hack: [here](https://github.com/faasflow/runtime/issues/1#issuecomment-1022928699)

[2022-02-02 11:02] #145 closed

[2022-02-02 11:07] dimgiagos44 opened #147 "Flow execution time measurement"
I have created a heavy image processing flow and with golang Time module i count the execution time of the flow.
I have put the time pointers in the start and the end of the flow in the Define function. Usually the time measured is about 600ms.

But when i check the timestamps of logs, the real time taken for the execution is always above 1 minute.
What is the explanation of this difference??

[2022-02-21 18:10] dimgiagos44 opened #148 "Parallel execution speed up"

[2022-02-22 18:14] dimgiagos44 commented on #148
I have come to the conclusion that *faas-flow* wrapper function executes a flow with  sync-calls to the others functions. This means that neither scaling the queue-worker nor scaling function replicas would not affect at all the flow execution speed.

Not 100% sure though. It would be great if @s8sg could comment on this!

[2022-02-26 14:44] s8sg commented on #148
@dimgiagos44 Can you explain more on what do you mean by `sync-calls`

[2022-02-26 15:11] dimgiagos44 commented on #148
@s8sg as far as i have examined, the faasflow function invokes the other openfaas functions included in the flow, with sync http calls. But concurrency can not be achieved with sync.
[url builder for openfaas function http call](https://github.com/faasflow/lib/blob/master/openfaas/faas_operation.go#L120)

[2022-03-28 06:37] heavenlxj opened #149 "faas build the demo case yml failed"
following the demo case,   use default greet template the faas build could be worked for me, but if I add the environment_file and secrets part, faas build will be failed with the below error:

[code]

the greet.yml pasted here:
[code]

and the flow.yml is same as the demo case.
i found no related issue about this, anyone knows what's wrong with this? thanks

[2022-03-28 12:03] #149 closed

[2022-04-01 16:33] heavenlxj opened #150 "Function output pipe into next function"
i am confusing how to use the output in the function
e.g. i have the 1st function like that:
[code]

and the 2nd function like this:
[code]
Actually, i assume use the 1st function output in the 2nd function, if 1st ret 1,  the 2nd will accept the output and make a is 1, then b=2 and return 2.

The flow code here:
[code]

But when i invoke the flow function, it will throw the exception:

[ Failed ]

[2022-05-28 15:12] ctakgh opened #151 "Cannot use context.Set in faas-flow pipeline."
Hello,

I'm investigation using fass-flow in my work environment. So far I was able to orchestrate several functions using Apply and Modify methods. My next step is to use context functionality (`context.Set("data1-key", "data1-value")`) to pass data between different Modify sections of pipeline based on readme info.

I am getting an exception when building faas-flow (`faas build -f my-config.yml`

[2022-05-31 18:36] ctakgh commented on #151
In order for `faasflow.Context` methods to work, need to use `(*sdk.Context)(context)` syntax.

[2022-05-31 19:38] ctakgh opened #152 "Fass flow has an inncorrect flow name"
Hello,

When faas flow is executing, the flow name does not correspond function name. The flow name is numeric (10 in my environment) as in example below:
`...2022/05/31 19:25:41 stderr: 2022/05/31 19:25:41 Using default state store (consul)
2022/05/31 19:25:41 stderr: 2022/05/31 19:25:41 Using default data store (minio)
2022/05/31 19:26:07 stderr: 2022/05/31 19:26:07 Executing flow 10
2022/05/31